<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0
			http://www.w3.org/2001/XMLSchema-instance">

	<bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:~/test" />
		<property name="user" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="configurationFactory" class="org.activiti.osgi.blueprint.ConfigurationFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="databaseSchemaUpdate" value="true" />
	</bean>

	<bean id="configuration" factory-ref="configurationFactory"
		factory-method="getConfiguration">
	</bean>

	<bean id="processEngineFactory"
		class="org.activiti.osgi.blueprint.ProcessEngineFactoryWithELResolver"
		init-method="init" destroy-method="destroy">

		<property name="processEngineConfiguration" ref="configuration" />
		<property name="bundle" ref="blueprintBundle" />
		<property name="blueprintELResolver" ref="blueprintELResolver" />
	</bean>

	<bean id="processEngine" factory-ref="processEngineFactory"
		factory-method="getObject" />
	<!-- ############ Start Activiti services ############ -->
	<bean id="runtimeService" factory-ref="processEngine"
		factory-method="getRuntimeService" />
	<bean id="repositoryService" factory-ref="processEngine"
		factory-method="getRepositoryService" />
	<bean id="formService" factory-ref="processEngine" factory-method="getFormService" />
	<bean id="taskService" factory-ref="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-ref="processEngine"
		factory-method="getHistoryService" />
	<bean id="identityService" factory-ref="processEngine"
		factory-method="getIdentityService" />
	<bean id="managementService" factory-ref="processEngine"
		factory-method="getManagementService" />

	<service ref="processEngine" interface="org.activiti.engine.ProcessEngine" />
	<service ref="runtimeService" interface="org.activiti.engine.RuntimeService" />
	<service ref="repositoryService" interface="org.activiti.engine.RepositoryService" />
	<service ref="formService" interface="org.activiti.engine.FormService" />
	<service ref="taskService" interface="org.activiti.engine.TaskService" />
	<service ref="historyService" interface="org.activiti.engine.HistoryService" />
	<service ref="identityService" interface="org.activiti.engine.IdentityService" />
	<service ref="managementService" interface="org.activiti.engine.ManagementService" />
	<!-- ############ End Activiti services ############ -->

	<reference-list id="activityProviders" availability="optional"
		interface="org.activiti.engine.delegate.JavaDelegate" activation="eager">
		<reference-listener ref="blueprintELResolver"
			bind-method="bindService" unbind-method="unbindService" />
	</reference-list>

	<reference-list id="activityBehaviours" availability="optional"
		interface="org.activiti.engine.impl.pvm.delegate.ActivityBehavior"
		activation="eager">
		<reference-listener ref="blueprintELResolver"
			bind-method="bindBehaviour" unbind-method="unbindBehaviour" />
	</reference-list>

	<bean id="blueprintELResolver"
		class="de.blogspot.wrongtracks.prost.blueprint.ProStBlueprintELResolver" />
</blueprint>

